
/* calendar-dark-theme.css */
/* task.css */
.form-input {
  color: #ffffff; /* Set text color to white */
  background-color: #333; /* Set input background color */
  border: 1px solid #555; /* Set input border color */
}

.form-label {
  color: #ffffff; /* Set label text color to white */
}

.form-select {
  color: #ffffff; /* Set select text color to white */
  background-color: #333; /* Set select background color */
  border: 1px solid #555; /* Set select border color */
}
